name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 7 * * *"}] # Runs at 07:00 (daily). Actions schedules run at most every 5 minutes using UTC time
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      reason:
        description: The reason for running the workflow
        required: true
        default: Manual run
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@main
      - name: 'Print manual run reason'
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo 'Reason: ${{ github.event.inputs.reason }}
    
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          # Options
          user: IEvangelist
          template: classic
          base: header, activity, community, repositories, metadata
          config_octicon: yes
          config_timezone: America/Chicago
          plugin_introduction: yes
          plugin_habits: yes
          plugin_habits_from: 500
          plugin_habits_charts: yes
          plugin_languages: yes
          plugin_traffic: yes
          plugin_introduction_title: yes
          plugin_stargazers: yes
          plugin_stargazers_charts: yes
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_lines: yes
          plugin_lines_sections: base, repositories, history
          repositories_affiliations: owner,contributor
          plugin_screenshot: yes
          plugin_screenshot_title: 'David Pine''s website'
          plugin_screenshot_url: https://davidpine.net
          plugin_screenshot_mode: image
          plugin_screenshot_viewport: |
            {
              "width": 1280, 
              "height": 2560
            }
          plugin_stackoverflow: yes
          plugin_stackoverflow_user: 2410379
          plugin_stackoverflow_sections: answers-top
          plugin_stackoverflow_limit: 2
          plugin_code: yes
          plugin_code_days: 30
          plugin_code_languages: csharp, typescript, javascript, razor
