name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 7 * * *"}] # Runs at 07:00 (daily). Actions schedules run at most every 5 minutes using UTC time
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      reason:
        description: The reason for running the workflow
        required: true
        default: Manual run
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@main
      - name: 'Print manual run reason'
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo 'Reason: ${{ github.event.inputs.reason }}
    
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          # Options
          optimize: svg
          experimental_features: --optimize-svg
          use_prebuilt_image: yes
          config_padding: 0, 10 + 8%
          extras_css: |
            svg {
              display: inline-block;
              width: 100%;
            }
          user: IEvangelist
          template: classic
          base: header, activity, community, repositories, metadata
          config_octicon: yes
          config_timezone: America/Chicago
          plugin_introduction: yes
          plugin_introduction_title: yes
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_habits: yes
          plugin_habits_from: 500
          plugin_habits_charts: yes
          plugin_traffic: yes
          plugin_languages: yes
          #plugin_stargazers: yes
          #plugin_stargazers_charts: yes
          #plugin_isocalendar: yes
          #plugin_isocalendar_duration: full-year
          plugin_lines: yes
          plugin_lines_sections: base, repositories, history
          repositories_affiliations: owner, contributor          
          plugin_followup: yes
          plugin_followup_indepth: yes
          #plugin_screenshot: yes
          #plugin_screenshot_title: 'David Pine''s website'
          #plugin_screenshot_url: https://davidpine.net
          #plugin_screenshot_mode: image
          #plugin_screenshot_viewport: '{ "width": "1280", "height": "2560" }'
          plugin_stackoverflow: yes
          plugin_stackoverflow_user: 2410379
          plugin_stackoverflow_sections: answers-top
          plugin_stackoverflow_limit: 2
          plugin_code: yes
          plugin_code_days: 30
          plugin_code_languages: csharp, typescript, javascript, razor
          plugin_topics: yes
          plugin_topics_mode: icons
          plugin_licenses: yes
          plugin_licenses_setup: bash -c '[[ -f package.json ]] && npm ci || true'
          plugin_licenses_legal: no
          plugin_licenses_ratio: yes
          plugin_discussions: yes
          plugin_discussions_categories_limit: 8
          plugin_notable: yes
          plugin_gists: yes
          plugin_people: yes
          plugin_people_types: followers
          plugin_rss: yes
          plugin_rss_source: https://davidpine.net/index.xml
          plugin_rss_limit: 4
